@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: play, sans-serif;
}

body {
    background-color: #252C2B;
    text-align: center;
    display: flex;
    margin: 0 5%;
    flex-direction: column;
    line-height: 1;
}

/* Header Title*/

h1 {
    font-size: 3.1rem;
    margin: 20px auto 0;
    text-align: center;
    align-items: center;
}

/* Rules section*/

.rules {
    text-align: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 10px;
}

/* Win/lose message*/

.message {
    font-size: 2rem;
    padding: 10px 0 15px;
}

/* Center scoreboard*/

.score-board {
    border: 3px solid #ffffff;
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
    align-items: center;
    font-size: 46px;
}

/* User/Comp badges*/

.badge {
    background: #000000;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -25px;
}

/* Rock/Paper/Scissors options*/

.choice-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    text-align: center;
}

.btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1.4rem;
    color: #ffffff;
    justify-content: center;
    transition: 200ms;
    margin-top: 10px;
    font-size: 1.1rem;
    align-items: center;
    text-align: center;
    background: none;
    border: none;
}

i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

i {
    font-size: 4.5rem;
}

/* Media queries for screen size 480px and up */

@media screen and (min-width: 480px) {
    body {
        margin: 0 10%;
    }

    h1 {
        font-size: 3.2rem;
        margin: 30px auto 15px;
    }

    .rules {
        font-size: 1.1rem;
        margin: 10px 0 10px;
    }

    .choices {
        margin-top: 40px;
    }

    button {
        font-size: 1.2rem;
    }
    
    button > i {
        font-size: 5rem;
    }
}

/* Media queries for screen size 768px and up */

@media screen and (min-width: 768px) {
    body {
        margin: 0 15%;
    }

    h1 {
        font-size: 4rem;
        margin: 30px auto 15px;
    }

    .message {
        font-size: 2.5rem;
    }

    .choices {
        margin-top: 50px;
    }

    button {
        font-size: 1.3rem;
    }
    
    button > i {
        font-size: 5.2rem;
    }
}

/* Media queries for screen size 1024px and up */

@media screen and (min-width: 1024px) {
    body {
        margin: 20px 20% 0;
    }

    h1 {
        font-size: 4.2rem;
    }

    i {
        font-size: 5rem;
    }
    button {
        font-size: 1.4rem;
    }
    
    button > i {
        font-size: 5.4rem;
    }
}

/* Media queries for screen size 1200px and up */

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4.4rem;
    }

    .rules {
        font-size: 1.2rem;
    }

    button {
        font-size: 1.5rem;
    }
    
    button > i {
        font-size: 5.6rem;
    }
}
