@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: play, sans-serif;
}

body {
    background-color: #252C2B;
    text-align: center;
    display: flex;
    margin: 0 5%;
    flex-direction: column;
    line-height: 1;
}

/* Header Title*/

h1 {
    font-size: 3.1rem;
    margin: 20px auto 0;
    text-align: center;
    align-items: center;
}
